# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak

# dotenv environment files (optional, if using)
.env
.env.*

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cac_
